body {
  /* padding: 0; */
  margin: 0;
  font-family: sans-serif;
}

.list {
  text-align: left;
  max-width: 750px;
  margin: auto;
}

.submit-form {
  max-width: 300px;
  margin: auto;
}

.edit-form {
  max-width: 300px;
  margin: auto;
}

.navbar {
  background-color: #181a23;
}

.navbar-brand {
  font-size: 1.5em;
}

.navbar-brand, .nav-link {
  color: white; 
  float: right;
}

.navbar-nav {
  text-align: right;
  font-size: 1.2em;
}